Django>=5.1
django-allauth>=0.65
django-crispy-forms>=2.0
crispy-bootstrap4>=2.0
python-dotenv>=1.0
Pillow>=10.0
django-axes>=6.5
bleach>=6.0
django-ratelimit>=4.1
django-cors-headers>=4.3
django-csp>=3.8